<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button
          *ngIf="sidenav.mode === 'over'"
          (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Gastos Compartidos
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>euro</mat-icon>
      <span>Compartidos</span>
    </button>
    <button mat-button class="menu-button" routerLink="/person">
      <mat-icon>person</mat-icon>
      <span>Nuevo Amigo</span>
    </button>
    <button mat-button class="menu-button" routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Nuevo Gasto</span>
    </button>
    <button mat-button class="menu-button" routerLink="/balance">
      <mat-icon>euro</mat-icon>
      <span>Balance</span>
    </button>
    <button mat-button class="menu-button" routerLink="/debt">
      <mat-icon>euro</mat-icon>
      <span>Deudas</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>    
    <div class="content mat-elevation-z8">      
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

